{# Projet de stage help info, conceptions des modules #}
{# Abeauzit-Tahiri Alexandre al.atahiri@gmail.com#}
{# Mars 2021 - Mai 2021 #}

{# Gestionnaire des Modules #}
{% extends 'base.html.twig' %}

{% block title %}Gérer les modules{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset ('css/admin.css')}}">
{% endblock %}

{% block banner %}
  <h1>Interface Administrateur</h1>
{% endblock %}

{% block body %}
    <div class="container">
    <h1>Gérer les modules</h1>
    <a href="{{ path ('admin_modules_ajout')}}" class="btn btn-primary">Ajouter un module</a>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Titre</th>
      <th scope="col">Nombre de pages</th>
      <th scope="col" class="">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for module in modules %}
    <tr>
      <th scope="row">{{module.id}}</th>
      <td>{{module.titre}}</td>
      <td>{{module.nbPages}}</td>
      <td class="">
        {# ce qu'il faut c'est lui passer en plus, sous forme Json un id qui est module.id #}
        <a href="{{ path ('admin_modules_modifier', {id: module.id})}}" class="btn btn-outline-success"><i class="bi bi-pencil"></i> Modifier</a>

      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
