{% extends "base.html.twig" %}


{% block title %} Bienvenue sur HelpInfo {% endblock %}

{% block  stylesheets %}
  <link rel="stylesheet" href="{{ asset ('css/accueil.css')}}">
{% endblock %}

{% block banner %}
  <h1>Accueil</h1>
{% endblock banner %}

{% block body %}

  <div class="container">

    <div class="row">

      <div class="col-lg" id="stan">
          {# updated asset #}
          <img src="{{asset ('/images/stan.jpg')}}" title="Image par Yves Bernardi" alt="image de la place Stanislas, Nancy"></a>
      </div>

      <div class="col-lg">

        <p>
          <strong>Help Info</strong> a été crée en 1996 avec la volonté d’offrir aux PME/PMI des services personnalisés basés sur la
          <em>disponibilité, la compétence et la confiance.</em>
          En 20 années, la société s’est orientée vers deux pôles :
        </p>

        <ul>

          <li>
            L’Installation et la <em><a href="{{ path ('prestations')}}">maintenance informatique</a></em>, le suivi du parc, la gestion de l’infrastructure réseau et la relation
            avec vos éditeurs de logiciels.
          </li>

          <li>
            L’Edition d’un <em><a href="{{ path ('solutions')}}">logiciel de gestion du temps de travail</a></em>, temps de présence, temps d’absence, Get-MS.
          </li>

        </ul>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title alert alert-warning">Nouveauté !</h5>
            <p class="card-text"><strong>Help Info</strong> vient d'intégrer des modules sur le site et vous propose de vous former de façon autonome sur Get-MS.</p>
            <a href="{{ path ('modules') }}" class="btn btn-primary">Accèder aux modules</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
