{% extends "basehi.html.twig" %}

{% block banner %}
	<h1>Modules</h1>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/contenu.css">
{% endblock %}

{% block body %}
	<div class="container">
		<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path ('modules')}}">Modules</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">{{ module.titre }}</li>
			</ol>
		</nav>
		<div class="intro-banner">
			<h2>{{ module.titre}}</h2>
			<span class="pourcent">ici %!</span>
			<span class="pages">{{ module.nbPages }}
				pages</span>
		</div>
		<hr>
		<div class="contenu-text">
			<p>{{contenu.text}}</p>
			<img src="http://place-hold.it/350x150" alt="placeholder"></img>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum enim quam magni, laborum, animi vitae cumque nulla natus, architecto nesciunt odit. Molestias commodi quas necessitatibus debitis. Aliquam illum quae fugiat ullam accusantium suscipit, reiciendis quasi, expedita quo nesciunt, fuga inventore.</p>
		<p>Reprehenderit adipisci impedit voluptatibus, dicta molestiae a sit consectetur, deleniti, distinctio delectus provident earum amet? Ratione obcaecati, facilis, corporis excepturi minus magnam officia ullam ad quam laudantium dicta. Officia, eius.</p>
		<img src="http://place-hold.it/350x150" alt="placeholder"></img>
	<p>Facilis magni ullam, voluptatem aut porro debitis cupiditate modi excepturi quos, numquam nemo delectus commodi. Temporibus doloremque aut recusandae minus magni autem, ex, quaerat necessitatibus aperiam alias et ipsam dolor quis at maiores quam adipisci, iste iure enim qui asperiores!</p>
	<a href="#" class="button-n-page btn btn-primary">Page suivante</a>
</div></div>{% endblock %}
