{# Projet de stage help info, conceptions des modules #}
{# Abeauzit-Tahiri Alexandre al.atahiri@gmail.com#}
{# Mars 2021 - Mai 2021 #}

{# Ici page des modules > une fois connecté #}

{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset ('css/modules.css')}}">
{% endblock %}

{% block banner %}
	<h1>Modules</h1>
{% endblock %}

{% block body %}
	{# Make sure you're rendering success flash messages, affichage du message de succès de co. #}
	{% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

	<div class="container px-4">
		<div class="md-3">
		<h3>Nos modules Get-Ms</h3>
		<hr>
		<span><strong>Help Info</strong> a mis à votre dispositions une liste de tous nos modules : </span>
		</div>
		<div class="d-grid gap-3 bloc-modules mt-3">
			{% for module in modules %}
				<a href="{{ path ('page-module_page', {'slug': module.slug}) }}">
					<div class="p-2 bg-light border module-card">
						{# <h3 class="type-module">Modules Get-MS</h3> #}
						<h4 class="title-module">{{ module.titre }}</h4>
						<p>{{ module.pageModules.sousTitre | join(0) }}</p>
						<span class="pourcent"><i class="bi bi-percent"></i></span>
						<div class="pages-module">
							<span class="nbPages">{{ module.nbPages }}</span>
							<i class="bi bi-book"></i>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
