{# Projet de stage help info, conceptions des modules #}
{# Abeauzit-Tahiri Alexandre al.atahiri@gmail.com#}
{# Mars 2021 - Mai 2021 #}

{# Affichage de la page d'un Module #}
{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset ('css/page.css')}}">
{% endblock %}

{% block banner %}
	{# <h1>Module :  {{ module.titre }}</h1> #}
{% endblock %}

{% block body %}
	<div class="container">
		<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
			<ul class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path ('modules')}}">Modules</a>
				</li>
				{# <li class="breadcrumb-item active" aria-current="page">{{ module.titre }}</li> #}
			</ul>
		</nav>
		<div class="intro-banner">
			{# <h2>{{ module.titre}}</h2> #}
			<span class="pourcent">ici %!</span>
			{# <span class="pages">{{ module.nbPages }} #}
				pages</span>
			<hr>
		</div>

		<!-- Bloc avec le contenu de la pageModule -->
		<div class="d-grid bloc-page">
			{% for page in pageModule %}
				<div class="bloc-text">
				<h3>{{ page.sousTitre | raw }}</h3>
				<p>{{ page.text | raw }}</p>
			</div>
				{# Condition pour voir si une image est dispo alors on affiche la div #}
				{% if page.image %}
				<div class="bloc-image">
					{# <img src="{{asset ('images/imagesModules/' ~ page.image )}}" alt="{{ module.titre }}"></img>			 #}
				</div>
				{% endif %}
		</div>
			{% endfor %}
			<!-- Bas de page Pagination -->
			{% set pagesTotal = (total / limit)| round(0, 'ceil') %}
			<nav aria-label="Page navigation"></nav>
				<ul class="pagination">
					<li class="page-item {{(page == 1) ? 'disabled' : ''}}">
						<a class="page-link" href="{{( page > 1 ) ? '?page=' ~ (page - 1) : '' }}" aria-label="previous">Précédente</a>
					</li>
					{% for item in 1..pagesTotal %}
					{# On fait une ternaire, Si page est égale a item, ALORS? j'écris 'active' SINON: j'écris rien '' #}
					<li class="page-item {{(page == item) ? 'active' : ''}}">
						<a class="page-link" href="?page={{ item }}">{{ item }}</a>
					</li>
					{% endfor %}
					<li class="page-item {{(page == pagesTotal) ? 'disabled' : ''}}">
						<a class="page-link" href="{{( page < pagesTotal ) ? '?page=' ~ (page + 1) : '' }}" aria-label="next">Suivante</a>
					</li>
				</ul>
			</nav>
		
	</div>

{% endblock %}
